@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&family=Poppins:wght@200;300;400;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.hero {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  position: relative;
  height: 700px;
  /* border: 2px solid red; */
}

.hero::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, .5); */
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));

  z-index: 1;
}

.hero img {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width: 90%;
  height: 900;
}

.hero_content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0;
  margin: 0;
  margin-inline: auto;
  /* border: 2px solid lime; */
  /* width: 85%; */
  width: 100%;
  /* height: 700px; */
  height: 100%;
}



.hero_content-left {
  display: block;
  width: 55%;
  /* border: 2px solid orange; */
  z-index: 10;
  /* background: lime; */
}


.overlay-hero-text {
  display: flex;
  justify-content:center;
  align-items: center;
  z-index: 1;
}

.btns {
  width: 200px;
}

.banner-2 {
  max-width: 100%;
  height: auto;
}

.checked-text {
  margin: 2em 0;
}



@media screen and (max-width: 1200px) {
  .hero img {
    width: 95% !important;
    height: 100% !important;
  }

  .hero_content-left {
    width: 75%;
    z-index: 10;
  }
}

@media screen and (max-width: 768px) {
  .hero img {
    width: 100% !important;
  }

  .hero_content-left {
    width: 100%;
    /* border: 2px solid orange; */
    z-index: 1;
  }

  .hero_content-h1 {
    font-size: 2.5em !important;
    font-weight: 300 !important;
  }

  .btns {
    width: 150px;
  }

  .banner-2 {
    max-width: 100%;
    height: 450px !important;
  }

  .checked-text {
    margin: 2em 0;
    flex-direction: column !important;  
  }

  .checked-text-2 {
    flex-direction: column-reverse !important;  
  }

  
}







