@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&family=Poppins:wght@200;300;400;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.hero {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  position: relative;
  /* border: 2px solid red; */
}

.hero::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
  z-index: 1;
}

.hero img {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width: 65%;
  height: 100%;
}

.hero_content {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-inline: auto;
  /* border: 2px solid lime; */
  width: 85%;
  height: 100%;
}

.hero_content-left {
  width: 55%;
  /* border: 2px solid orange; */
  z-index: 10;
}

.overlay-hero-text {
  display: flex;
  justify-content:center;
  align-items: center;
  z-index: 1;
}







