@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&family=Poppins:wght@200;300;400;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.hero {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.hero_content {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: min(90%, 1600px);
}

.hero_content-left {
  position: absolute;
  left: 0;
  width: 40%;
  padding: 1em;
  border-radius: 7px;
  /* border: 2px solid #FFFFFF; */
  /* background: rgba(0, 0, 0, 0.6); */
}

.overlay-hero-text {
  display: flex;
  justify-content:center;
  align-items: center;
}

.hero img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width: 80%;
  /* height: 100%; */
}



